/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Valerie Yallup
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

/* FONTS 404 */
@font-face {
    font-family: 'ComicSans';
    src: url('fonts/comic-sans-ms.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ComicSans';
    src: url('fonts/comic-sans-ms-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Homepage Styles */

.home-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

.button {
  background: none repeat scroll 0 0 #45ac9d;
}


/* Nav menu */

/* painfully elicited via inspection! */

.primary-navigation ul li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
  /*background-color: red;*/
}


/* featured work on homepage */

.featured-work {
  overflow: auto;
}

.featured-work h4 {
  font-variant: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

.featured-work ul {
  margin: 0;
}

.individual-featured-work {
  float: left;
  list-style-type: none;
  margin: 0 3% 0 0;
  width: 31%;
}

.individual-featured-work h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 24px;
  text-align: center;
}

.individual-featured-work:nth-child(3n) {
  margin: 0;
  width: 31%;
}


/* blog post on homepage */

.recent-posts {
  margin-top: 100px;
}

.blog-post {
  width: 50%;
}

.blog-post h4 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #a6a6a6;
  margin-top: 0;
}

.blog-post h2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 36px 0;
}

.blog-post .read-more-link {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #45ac9d;
  font-weight: 700;
}


/* case studies */

article.case-study {
  width: 900px;
  clear: both;
  margin: 40px auto 0;
}

aside.case-study-sidebar {
  float: left;
  width: 314px;
  margin: 0 70px 0 0;
}

.case-study-sidebar h5 {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 12px;
  line-height: 1.33333;
}

.case-study-sidebar h6 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 50px;
  line-height: 1.5;
}

.case-study-sidebar a {
  font-weight: bold;
}

.case-study-images {
  float: left;
  width: 516px;
}

.case-study-images img {
  border: 1px solid #dddddd;
  margin-bottom: 100px;
}

img.attachment-full.size-full {
  max-width: 516px;
  height: auto;
}


/* contact form */

div.nf-form-cont {
  width: 65%;
  max-width: 614px;
  margin: 48pt auto;
}

.nf-field-container.textbox-container.label-above {
  width: 49%;
  float: left;
  clear: initial;
  margin-right: 2%;
}

.nf-field-container.email-container.label-above {
  width: 49%;
  float: left;
  clear: initial;
}

.nf-field .nf-field-label label {
  font-weight: normal;
  font-size: smaller;
}

/* button */
input#nf-field-4 {
  background-color: #45ac9d;
  float: right;
  color: white;
  font-family: "montserrat";
  font-size: 1em;
  padding: 12px 60px;
  text-align: center;
}

/* about page - modified homepage styles */

.about-hero {
  background: url("img/taxi-photo.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
  height: 140px;
  margin: 0 0 60px;
  padding: 80px 0;
}

.about-text {
  text-align:center;
  width: 580px;
  margin: 0 auto;
  padding: 0 10px;
}

.about-text h2 {
  color: white;
  font-weight: bold;
  margin: auto;
  line-height: 1.5em;
}

.about-text span {
  color: #45ac9d;
}

.about-intro {
  overflow: auto;
  text-align: center;
}

.about-intro h4 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  margin: 0 0 20px;
}

.about-contact {
  margin-top: 50px;
  text-align: center;
  border-top: 1px dotted #e3e1e1;
  padding-top: 20px;
}

.about-contact h2 {
  margin-top: 40px;
  display: inline-block;
}

.about-contact .button {
  margin-left: 5%;
  display: inline-block;
  padding: 15px 75px;
}

/* Services */
article.service {
  width: 83%;
  margin: 40px auto;
}

article.service:after {
  content: "";
  display: block;
  clear: both;
}

.service-content {
  width: 67%;
  padding: 5px;
}

.service-content h2 {
  line-height: 2.5em;
  margin: 0;
}

.service-image {
  width: 25%;
  max-width: 216px;
  height: auto;
  padding: 5px;
}

.service-image img {
  margin-bottom: 10px;
}

.service:nth-child(odd) .service-image {
float: left;
}

.service:nth-child(odd) .service-content {
float: right;
}

.service:nth-child(even) .service-image {
float: right;
}

.service:nth-child(even) .service-content {
float: left;
}

/* 404 page with animation */
.comic-hero {
  width: 100%;
  background-color: whitesmoke;
  height: 200px;
  padding: 20px 0 80px;
}
.comic-text {
  font-family: "ComicSans", sans-serif;
  line-height: 2.5em;
  margin: 0;
  text-align: center;
}
.comic-red {
  color: red;
}
.comic-blue {
  color: blue;
}
.comic-magenta {
  color: magenta;
}
.comic-green {
  color: #0f0;
}

.comic-redirect {
  overflow: auto;
  width: 60%;
  margin: 0 auto;
}

.comic-redirect h2 {
  text-align: center;
  font-family: 'Montserrat';
}

.comic-redirect a {
  color:#45ac9d;
  font-weight: bold;
  font-size: 1.1em;
}

.comic-404 {
  font-family: 'ComicSans', sans-serif;
  font-size:6rem;
  font-weight: bold;
}

div.comic-404 {
  text-align:center;
  perspective: 800px;
 }

.comic-404 span {
   display:inline-block;
   margin-left: -20px;
   color:#45ac9d;
   transform-origin: 50% 70%;
}

/* animation inspiration from a tutorial by Val Head */

.comic-404 span:nth-child(1) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both,
             flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2s forwards,
             backUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 3s forwards,
             swing 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 4.1s;
}

.comic-404 span:nth-child(2) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both,
             flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2.2s forwards,
             backUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 3.2s forwards,
             swing 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 3.8s;
}

.comic-404 span:nth-child(3) {
 animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both,
            flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2.4s forwards,
            backUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 3.4s forwards,
            swing 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 4.4s;
}

@keyframes flipUp {
  from {transform: rotateX(90deg);}
  to {tranform: rotateX(0deg);}
}

@keyframes flipDown {
  to {transform: rotateX(-180deg);}
}

@keyframes backUp {
  from {transform: rotateX(-180deg);}
  to {tranform: rotateX(0deg);}
}

@keyframes swing {
  0% {
     transform: rotateX(-180deg);
  }

  20% {
    transform: rotateX(-180deg) rotateY(-45deg);
  }

  40% {
    transform: rotateX(0deg) rotateY(45deg);
  }

  60% {
    transform: rotateX(0deg) rotateY(-45deg);
  }

  80% {
    transform: rotateX(0deg) rotateY(45deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

