/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Valerie Yallup
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

/* Homepage Styles */

.home-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

.button {
  background: none repeat scroll 0 0 #45ac9d;
}


/* Nav menu */

/* painfully elicited via inspection! */

.primary-navigation ul li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
  /*background-color: red;*/
}


/* featured work on homepage */

.featured-work {
  overflow: auto;
}

.featured-work h4 {
  font-variant: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

.featured-work ul {
  margin: 0;
}

.individual-featured-work {
  float: left;
  list-style-type: none;
  margin: 0 3% 0 0;
  width: 31%;
}

.individual-featured-work h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 24px;
  text-align: center;
}

.individual-featured-work:nth-child(3n) {
  margin: 0;
  width: 31%;
}


/* blog post on homepage */

.recent-posts {
  margin-top: 100px;
}

.blog-post {
  width: 50%;
}

.blog-post h4 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #a6a6a6;
  margin-top: 0;
}

.blog-post h2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 36px 0;
}

.blog-post .read-more-link {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #45ac9d;
  font-weight: 700;
}


/* case studies */

article.case-study {
  width: 900px;
  clear: both;
  margin: 40px auto 0;
}

aside.case-study-sidebar {
  float: left;
  width: 314px;
  margin: 0 70px 0 0;
}

.case-study-sidebar h5 {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 12px;
  line-height: 1.33333;
}

.case-study-sidebar h6 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 50px;
  line-height: 1.5;
}

.case-study-sidebar a {
  font-weight: bold;
}

.case-study-images {
  float: left;
  width: 516px;
}

.case-study-images img {
  border: 1px solid #dddddd;
  margin-bottom: 100px;
}

img.attachment-full.size-full {
  max-width: 516px;
  height: auto;
}


/* contact form */

div.nf-form-cont {
  width: 65%;
  max-width: 614px;
  margin: 48pt auto;
}

.nf-field-container.textbox-container.label-above {
  width: 49%;
  float: left;
  clear: initial;
  margin-right: 2%;
}

.nf-field-container.email-container.label-above {
  width: 49%;
  float: left;
  clear: initial;
}

.nf-field .nf-field-label label {
  font-weight: normal;
  font-size: smaller;
}

/* button */
input#nf-field-4 {
  background-color: #45ac9d;
  float: right;
  color: white;
  font-family: "montserrat";
  font-size: 1em;
  padding: 12px 60px;
  text-align: center;
}

/* about page - modify homepage styles */

.about-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
  height: 140px;
  margin: 0 0 80px;
  padding: 80px 0;
}

.about-hero {
  text-align:center;
  width: 580px;
  margin: 0 auto;
  padding: 0 10px;
}

.about-hero h2 {
  color: white;
  font-weight: bold;
  margin: auto;
  line-height: 1.5em;
}

.about-hero a {
  color: #45ac9d;
}